/* OCULTA WARNING ResizeObserver loop 
  * completed with undelivered notifications
  * QUE APARECE EN CHROME:
 */
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* OCULTA EL OUTLINE de los campos que tiene 
 * por defecto el react-data-grid
 */
.c1wupbe7-0-0-beta-39[aria-selected="true"] {
  outline: 0;
}

/*
 * ESTILOS SIDEBAR NAV:
*/
.sidebar-nav .nav-icon {
  height: 20px !important;
}
.nav-icon-sub {
  margin-right: 8px;
  width: 22px !important;
}

/*
 * ESTILOS CONTROLES DE 
 * FORMULARIOS:
 * (incluido Select de  react-select)
*/
button,
input,
select,
.css-13cymwt-control, /* clase del Select de react-select*/
textarea {
  border-radius: 2px !important;
}

/* OCULTA CHECKS de aumento y decremento
 * en inputs numericos
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* en firefox */
}

/*
 * agrega icono a inputs type search
 */
input[type="search"] {
  background-image: url("./assets/images/search.png");
  background-repeat: no-repeat;
  background-size: 1.35rem;
  background-position: 97%;
  padding-right: 40px;
  font-size: 99.5%;
}

/* 
 * fuente poppins
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 98.8% /*!important*/;
}

.fs-14px-all * {
  font-size: 14px;
}

/* @media screen and (max-width: 576px) {
  * {
    font-size: 0.83rem !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  * {
    font-size: 0.89rem;
  }
}

@media screen and (min-width: 993px) {
  * {
    font-size: 0.96rem;
  }
} */
