/* OCULTA WARNING ResizeObserver loop 
  * completed with undelivered notifications
  * QUE APARECE EN CHROME:
 */
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* OCULTA EL OUTLINE de los campos que tiene 
 * por defecto el react-data-grid
 */
.c1wupbe7-0-0-beta-39[aria-selected="true"] {
  outline: 0;
}

/*
 * ESTILOS SIDEBAR NAV:
*/
.sidebar-nav .nav-icon {
  height: 20px !important;
}
.nav-icon-sub {
  margin-right: 8px;
  width: 22px !important;
}

/*
 * ESTILOS CONTROLES DE 
 * FORMULARIOS:
 * (incluido Select de  react-select)
*/
button,
input,
select,
.css-13cymwt-control, /* clase del Select de react-select*/
textarea {
  border-radius: 2px !important;
}

/* OCULTA CHECKS de aumento y decremento
 * en inputs numericos
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* en firefox */
}

/* 
 * fuente poppins
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/*
 * clase para fondos mas oscuros
 */
.bg-darker {
  background: #2b2b2b;
}

.bg-greener {
  background: #225d2f;
}

.bg-bluer {
  background: #22425d;
}

.bg-yellower {
  background: #5d5722;
}

.bg-reder {
  background: #5d2422;
}

/*
 * clase para fondo con imagen de patron
 */
.card-patron {
  background-image: url("./assets/images/patrons.png");
  background-size: contain;
  height: 100%;
}

.card-patron-success {
  background-color: rgba(33, 63, 44, 0.683);
  height: 100%;
}

.card-patron-primary {
  background-color: rgba(33, 44, 63, 0.683);
  height: 100%;
}

.card-patron-warning {
  background-color: rgba(63, 58, 33, 0.683);
  height: 100%;
}

.card-patron-danger {
  background-color: rgba(63, 34, 33, 0.683);
  height: 100%;
}
