/* OCULTA WARNING ResizeObserver loop 
  * completed with undelivered notifications
  * QUE APARECE EN CHROME:
 */
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* OCULTA EL OUTLINE de los campos que tiene 
 * por defecto el react-data-grid
 */
.c1wupbe7-0-0-beta-39[aria-selected="true"] {
  outline: 0;
}

/*
 * ESTILOS SIDEBAR NAV:
*/
.sidebar-nav .nav-icon {
  height: 20px !important;
}
.nav-icon-sub {
  margin-right: 8px;
  width: 22px !important;
}

/*
 * ESTILOS CONTROLES DE 
 * FORMULARIOS:
 * (incluido Select de  react-select)
*/
button,
input,
select,
.css-13cymwt-control, /* clase del Select de react-select*/
textarea {
  border-radius: 2px !important;
}

/* OCULTA CHECKS de aumento y decremento
 * en inputs numericos
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* en firefox */
}
